@import '../../shared/styles/colors';
@import '../../shared/styles/mixins';

.person-block {
  box-sizing: border-box;
  h2 {
    @include block-header;
  }
  &-cols {
    display: flex;
    flex-direction: row-reverse;
  }
  &-img {
    position: relative;
    margin-top: 45px;
    > img {
      width: 440px;
      border: 1px solid $green;
    }

    .social-icons {
      -ms-flex-direction: column;
      flex-direction: column;
      position: absolute;
      right: -45px;
      top: 8px;

      > a {
        text-decoration: none;
        color: $white;
        height: 35px;
        cursor: pointer;
        &:hover i {
          color: $green;
        }
      }
    }
  }
  &-text {
    padding: 0 60px 50px 0;
    margin-right: auto;
    > h3 {
      font-size: 45px;
      font-weight: 400;
      line-height: 45px;
      letter-spacing: 2px;
      -webkit-font-smoothing: antialiased;
      margin-bottom: 0;
      .person-first-name,
      .person-last-name {
        color: $white;
        display: block;
        line-height: 45px;
      }
    }
    > p {
      @include block-text;
    }
  }
  .person-position {
    margin-top: 45px;
  }
  .person-company {
    margin-bottom: -6px;
  }
  .person-position,
  .person-company {
    text-transform: uppercase;
    display: block;
    line-height: 24px;
  }

  &:nth-child(2n+1) {
    .person-block-cols {
      flex-direction: row;
    }
    .person-block-img {
      .social-icons {
        left: -45px;
        right: auto;
        top: 8px;
      }
    }
    .person-block-text {
      > h3 {
        padding-left: 230px;
      }
    }
  }
  .anchor {
    margin: 0;
  }

  &.-small-blocks {
    width: 100%;
    box-sizing: border-box;
    .person-block-img {
      > img {
        width: 234px;
        border: 1px solid $green;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .person-block {
    &-img {
     > img {
        width: 318px;
      }
    }
    &-text {
      > p {
        width: auto;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .person-block {
    &:nth-child(2n+1) {
      &.-small-blocks {
        .person-block-text {
          padding-right: 40px;
          p {
            padding-left: 70px;
          }
        };
        .person-block-text h3 {
          padding-left: 170px;
        }
      }
    }
    &:nth-child(2n) {
      &.-small-blocks {
        .person-block-text {
          padding-right: 40px;
          > p {
            padding-left: 70px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 990px) {
  .person-block {
    &-img {
      > img {
        width: 260px;
      }
    }
    &:nth-child(2n) {
      .person-block-text {
        padding-right: 60px
      }
    }
    &:nth-child(2n+1) {
      .person-block-text {
        padding-right: 0;
        padding-left: 60px;
        > h3 {
          padding-left: 170px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) and (max-width: 801px) {
  .person-block {
    padding-bottom: 0;
    .person-block-text {
      padding: 0 40px 50px 0 !important;
    }
  }
}

@media screen and (max-width: 800px) and (min-width: 601px) {
  .person-block {
    &-img {
      > img {
        width: 170px !important;
      }
    }
    &:nth-child(2n+1) {
      .person-block-text {
        > h3,
        > p {
          padding-left: 30px !important;
        }
      }
      &.-small-blocks {
        .person-block-text {
          padding: 0 !important;
        }
      }
    }
    &:nth-child(2n) {
      &.-small-blocks {
        .person-block-text {
          padding: 0;
          > h3,
          > p {
            padding: 0 20px 0 0;
          }
        }
      }
    }
    &.-small-blocks {
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 600px) {
  .person-block {
    padding-bottom: 50px !important;
    &-cols {
      flex-direction: column !important;
    }
    &-img {
      margin-bottom: 25px;
      > img {
        width: 234px !important;
      }
    }
    &.-small-blocks {
      .about-page-header {
        display: flex;
        flex-direction: column;
        .about-page-header-image {
          width: 100% !important;
          > img {
            width: 100%;
          }
        }
      }
      .person-block-img {
        width: 234px;
        align-self: center;
      }
      .person-block-text {
        text-align: center;
        padding: 0 !important;
        > h3,
        > p {
          padding: 0 !important;
          margin: 0;
        }
      }
    }
  }
}
