@import '../../shared/styles/colors';


@-webkit-keyframes animateButtonWidth {
  0% {
    width: 49px;
  }
  100% {
    width: 282px;
  }
}
@-webkit-keyframes animateInputWidth {
  0% {
    width: 282px;
    border: 1px solid $footer-blue;
  }
  100% {
    width: 0;
    border: 0 solid $footer-blue;
    padding: 0;
  }
}

.subscribe-form {
  display: flex;
  flex-direction: row;
  width: 282px;

  &-token {
    position: absolute;
    left: -5000px;
  }

  input,
  button {
    border-radius: 0;
    border: 1px solid $footer-blue;
    color: $blue;
    font-size: 13px;
  }

  input {
    padding: 0 8px;
    width: 233px;
    margin: 0;
    font-weight: 400;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    border-right: 0 none;
  }

  button {
    color: $footer-blue;
    background-color: $green;
    letter-spacing: 2px;
    padding: 8px 15px;
    margin: 0;
    font-weight: 700;
    cursor: pointer;
    width: 49px;
    line-height: 1;
    &:hover {
      background-color: $blue;
      color: $white;
    }
    i {
      font-size: 14px;
      display: none;
    }
    > span {
      display: flex;
      justify-content: center;
    }
  }

  &.animate input {
    -webkit-animation: animateInputWidth 0.5s ease-out;
    animation: animateInputWidth 0.5s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  &.animate button {
    -webkit-animation: animateButtonWidth 0.5s ease-out;
    animation: animateButtonWidth 0.5s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background-color: var(--yglf-blue);
    color: var(--yglf-white);
  }

  &.animate:not(.success) button span {
    display: none;
  }

  &.animate:not(.success) button i {
    display: inline-block;
  }
}


@media (max-width: 767px) {
  .subscribe-form {
    margin-bottom: 45px;
  }
}

@media (max-width: 320px) {
  .subscribe-form {
    width: 230px;
    margin-bottom: 20px;
  }
  @-webkit-keyframes animateButtonWidth {
    0% {
      width: 49px;
    }
    100% {
      width: 230px;
    }
  }
  @-webkit-keyframes animateInputWidth {
    0% {
      width: 230px;
      border: 1px solid $footer-blue;
    }
    100% {
      width: 0;
      border: 0 solid $footer-blue;
      padding: 0;
    }
  }
}
