@import '../../shared/styles/colors';

// Links and buttons
@mixin underlined-link {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.17px;
  -webkit-font-smoothing: antialiased;
  color: $green;
  border-bottom: 1px solid $green;
  padding: 12px 0;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transform: translateY(-6px);
  &:hover {
    color: $white;
    border-bottom: 1px solid $white;
  }
}

@mixin animated-button {
  position: relative;
  display: inline-block;
  font-weight: 700;
  line-height: 45px;
  height: 44px;
  padding: 0 0;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: $white;
  color: $blue;
  border: 0 none;
  cursor: pointer;
  width: 160px;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  cursor: pointer;
  transition: 150ms ease-out;
  -o-transition: 150ms ease-out;
  -ms-transition: 150ms ease-out;
  -moz-transition: 150ms ease-out;
  -webkit-transition: 150ms ease-out;
  -webkit-box-shadow: 15px 9px 20px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 15px 9px 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 15px 9px 20px 0 rgba(0, 0, 0, 0.15);
  &:hover {
    color: $blue;
  }
  &:before {
    content: "";
    position: absolute;
    background-color: $green;
    bottom: 0;
    left: 0;
    right: 100%;
    top: 0;
    z-index: -1;
    -webkit-transition: right 250ms ease-out;
  }
  &:hover:before {
    right: 0;
  }
}


// containers
@mixin container {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

@mixin container-fluid {
  position: relative;
  width: calc(100% - 170px);
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
  @media screen and (max-width: 764px) {
    width: calc(100% - 90px);
  }
}


// Blocks
@mixin block-name {
  height: 45px;
  span {
    display: inline-block;
    height: 90px;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 0;
    transform: translate(5px, 8px);
    i {
      font-family: "Libre Baskerville", serif;
      font-style: italic;
      font-weight: 400;
      letter-spacing: 3px;
      display: inline-block;
      margin-left: 10px;
      padding-left: 10px;
      border-left: 1px solid $white;
      line-height: 15px;
    }
  }
}

@mixin block-header {
  color: $green;
  font-size: 45px;
  line-height: 45px;
  font-weight: 400;
  letter-spacing: 4.55px;
  -webkit-font-smoothing: antialiased;
  transform: translateY(10px);
  margin: 0;
}

@mixin block-text {
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1.7px;
  -webkit-font-smoothing: antialiased;
  width: 450px;
  padding-left: 120px;
  margin: 24px 0 26px;
  line-height: 33px;
  @media screen and (max-width: 990px) {
    padding-left: 0;
    width: 100%;
  }
}

@mixin block-text-big {
  @include block-text;
  width: auto;
  padding-right: 120px;
}

@mixin block-button {
  padding-left: 120px;
  @media screen and (max-width: 990px) {
    padding-left: 0;
  }
}
