@import '../shared/styles/mixins';
@import '../shared/styles/colors';

.about-page {
  .info-block-image {
    padding-top: 29px;
  }

  .header {
    display: -ms-flexbox;
    display: flex;
    padding: 90px 0;
    .header-text {
      > h1 {
        font-size: 111px;
        font-weight: 400;
        color: $green !important;
        padding-bottom: 40px;
        -webkit-font-smoothing: antialiased;
      }
      > p {
        font-size: 28px;
        font-weight: 300;
        letter-spacing: 1.22px;
        line-height: 56px;
        width: 450px;
        -webkit-font-smoothing: antialiased;
        > small {
          margin-top: 35px;
          font-size: 14px;
          letter-spacing: 3.93px;
          display: block;
          text-transform: uppercase;
        }
      }
    }
  }

  .about-page-past {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 70px;
  }

  .about-page-past-section {
    padding-right: 70px;
    width: 410px;
    margin-bottom: 45px;
    padding-left: 120px;
    > p {
      font-size: 15px !important;
      font-weight: 100;
      line-height: 33px;
      letter-spacing: 0.9px;
      -webkit-font-smoothing: antialiased;
      margin-bottom: 28px;
    }
    > a {
      @include underlined-link;
    }
  }
  .team-list {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 1300px) {
  .about-page {
    .container {
      max-width: 900px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .about-page {
    .header-text {
      h1 {
        font-size: 90px;
        letter-spacing: 1.71px;
      }
      p {
        font-size: 26px;
        padding-top: 0;
      }
    }

    .about-page-past {
      display: -ms-flexbox;
      display: flex;
      .about-page-past-section {
        > p {
          -webkit-transform: translateY(-22px);
          -ms-transform: translateY(-22px);
          transform: translateY(-22px);
        }
      }
    }
  }
}

@media screen and (min-width: 990px) {
  .about-page {
    .header-text > p {
      padding-left: 120px;
    }
  }
}

@media screen and (max-width: 990px) {
  .about-page-past-section {
    padding: 0 0 70px 0 !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 990px) and (min-width: 765px) {
  .about-page {
    > .container {
      > .header {
        margin: 0 60px;
        > .header-text > p {
          width: auto;
          padding-right: 100px;
        }
      }
      width: auto;
      > .ordered-block,
      > .about-page-past {
        margin: 0 60px;
      }
    }
    .about-page-past-section {
      padding-left: 0 !important;
    }
    .team-list {
      padding: 0 50px 100px;
    }
  }
}

@media screen and (max-width: 764px) {
  .about-page {
    padding: 0 30px;
    > .container {
      > .ordered-block,
      > .about-page-past {
        margin: 0;
      }
      > .header {
        .header-text {
          width: 100% !important;
          > h1 {
            margin: 10px 0 10px 5px !important;
          }
          > p {
            width: 100% !important;
            font-size: 15px;
            letter-spacing: 1.05px;
            line-height: 30px;
            padding-top: 0;
          }
          .buy-tickets {
            display: inline-block;
          }
        }
        .about-page-past {
          .about-page-past-section {
            padding-right: 0;
            padding-left: 0;
            width: 100%;
            .btn-underline {

            }
          }
        }
      }
      > .team-list {
        padding: 0 0 80px 0;
      }
    }
    .about-page-past-section {
      padding-left: 0;
    }
  }
}
