@import '../../shared/styles/colors';
@import '../../shared/styles/mixins';

.venue-block {
  position: relative;
  height: 630px;
  overflow: hidden;
  &-img {
    position: absolute;
    left: 650px;
    top: 41px;
    height: 450px;
    width: 800px;
    border: 1px solid $green;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: luminosity;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &-name {
    @include block-name;
  }
  &-text {
    h2 {
      @include block-header;
    }
    p {
      @include block-text;
    }
    &-button {
      @include block-button;
      margin-top: 57px;
      > a {
        @include underlined-link;
      }
    }
  }
}

@media (min-width: 1600px) {
  .venue-block {
    .container {
      position: static;
    }
    &-img {
      right: -5px;
    }
  }
}

@media (max-width: 1160px) {
  .venue-block {
    height: auto;
    padding-bottom: 45px !important;
    &-img {
      position: static;
      width: 450px;
      height: 253px;
      margin-left: 120px;
      margin-top: 20px;
    }
  }
}
@media (max-width: 990px) {
  .venue-block {
    &-img {
      margin-left: 0;
    }
  }
}
@media screen and (max-width: 764px) {
  .venue-block {
    &-img {
      width: 100%;
      height: 56%;
      margin-left: 0;
    }
  }
}
@media screen and (max-width: 480px) {
  .venue-block {
    &-img {
      width: calc(100% + 180px);
      margin-left: -90px;
      height: calc(56% + 180px*0.56);
    }
  }
}
